@model Roulette.Models.CashierModel
@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/AdminPanel/Views/Shared/_AdminLayout.cshtml";
}

<div class="centerContainer">
    <h1>Add Cashier</h1>
    <div class="addModel cashierForm">
        @using (Html.BeginForm("Add", "Cashier"))
        {
            @Html.ValidationSummary(true)
            <div>
                <div class="label">@Html.LabelFor(m => m.UserName)</div>
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
             </div>
              <div>
                <div class="label"> @Html.LabelFor(m => m.NumberPercent, "Percent")</div>
                @Html.TextBoxFor(m => m.NumberPercent)
                @Html.ValidationMessageFor(m => m.NumberPercent)
            </div>
            <div>
                <div class="label"> @Html.LabelFor(m => m.Password)</div>
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div>
                <div class="label"> @Html.LabelFor(m => m.ConfirmPassword)</div>
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
            <input type="submit" value="Add"/>
              @Html.ActionLink("Cancel", "Index");
        }
    </div>
</div>
