@model Roulette.Areas.AdminPanel.Models.EditCashierModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/AdminPanel/Views/Shared/_AdminLayout.cshtml";
}
<div class="centerContainer">
<h1>Редактировать кассира</h1>
<div class="editModel cashierForm">

<script type="text/javascript">
    
</script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div>
       <div class="label">@Html.LabelFor(m=>m.UserName)</div>
        @Html.EditorFor(m=>m.UserName)
        @Html.ValidationMessageFor(m=>m.UserName)
    </div>
    <div>
        <div class="label"> @Html.LabelFor(m => m.Password)</div>
        @Html.PasswordFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password)
    </div>
    <div>
        <div class="label"> @Html.LabelFor(m => m.Percent)</div>
        @Html.EditorFor(m => m.Percent)
        @Html.ValidationMessageFor(m => m.Percent)
        <input type="button" value="MIN" onclick="$('#Percent').val('0');"/>
        <input type="button" value="MAX" onclick="$('#Percent').val('2147483647');"/>
    </div>
    <div style="display: none;">
        @Html.EditorFor(m => m.OldUserName)
    </div>
    <input type="submit" value="Редактировать" />
    <input type="button" value="Отменить " onclick="window.location='@Url.Action("Index")';"/>
                                 
}
</div>
</div>

